.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
  background-color: $main-gray;
}

#swal2-title {
  color: $main-orange;
}
#swal2-content {
  color: $main-white;
}
.swal2-footer {
  color: $main-white;
}

.swal2-icon.swal2-error {
  border-color: $disable-orange !important;
  color: $disable-orange !important;
}

.swal2-x-mark-line-left{
  background-color: $disable-orange !important;
}
.swal2-x-mark-line-right{
  background-color: $disable-orange !important;
}

