/* Main colours */
$main-gray: #35383F;
$main-orange: #FC9935;
$main-white: #D5D9BA;

/* Disable opt colours */
$disable-gray: #616368;
$disable-orange: #F6AC61;
$disable-white: #D9DCC4;

/* Aux colours */
$correct-color: #C5D982;
$error-color: #D97A7A
